*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body{
 background-color:#fff;   
font-family: 'Poppins', sans-serif;

}
.nav{
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav-bg{
    background-color: orangered;
}
.nav li:first-child{
    margin-right: auto;
}
.nav-link{
    color: rgb(255, 249, 249);
    font-size: 18px;
    font-weight: 600;
}
.nav-link:hover{
    background-color: #f0f0f0;
}
.bordernav{
    border-right: 1px solid #fff;
}
#sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgb(61, 61, 63);
    z-index:999;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    backdrop-filter: blur(10px);
}
#sidebar li{
    margin: 0.7em;
    width: 100%;
}
#sidebar a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(247, 235, 235);
    font-weight: 600;
    transition: all 0.1s ease-in-out;
}
.nohover:hover{
    background-color: transparent;
}
#sidebar a:hover{
    background-color: #bec1d1;  
    padding: 0.5em;
    color: black;
}
.fa-bag-shopping{
    font-size: 29px;
    color: green;
}
.menu-button{
    display: none;
}
.nav-search-list{
    list-style: none;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-right: 1em;
}
.nav-search-list li{
    padding-right: 0.6em; 
   
}
.nav-search-list li a{
    font-size: 14px;
    padding: 0.4em;
}
.nav-search-list li:first-child{
    margin-right: auto;
}
.search-width{  
    border:none;
}
.search-width::placeholder{
    color: green;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 16px;
}
@media (max-width:991px){
    .hideOnmobile{
        display: none;
    }
    .menu-button{
        display: block;
    }  
    #ff{
        width: 100%;
    }
}
@media (max-width:576px){
    #sidebar,#ff{
        width: 100%;
    }
}

/* hero area page start */
.side_nav{
    padding: 0.6em;
    background-color: #fff;
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 10px;
}
.side_nav ul{
    list-style: none;
}
.side_nav ul a{
    text-decoration: none;
    padding-bottom: 0.3em;
    font-size: 14px;
    color: rgb(87, 84, 84);
    font-weight: 500;
    transition: all 0.1s ease-in;
}
.side_nav ul a:hover{
    color: orangered;
    text-decoration: underline;
}
.fa-chevron-right{
    font-size: 10px;
}